################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ArsLibrary/bin/Debug/CommonLib.pdb
/ArsLibrary/bin/Debug/CommonLib.Function.Fitting.pdb
/ArsLibrary/bin/Debug/ArsLibrary.pdb
/ArsLibrary/obj
/UtilityExample/bin/Debug/UtilityExample.pdb
/UtilityExample/bin/Debug/CommonLib.pdb
/UtilityExample/bin/Debug/CommonLib.Function.Fitting.pdb
/UtilityExample/bin/Debug/ArsLibrary.pdb
/UtilityExample/obj
/ArsLibrary/.vs
/ArsLibrary/bin/Debug/ArsLibrary.dll
/ArsLibrary/bin/Debug/ArsLibrary.xml
/ArsLibrary/bin/Debug/CommonLib.dll
/ArsLibrary/bin/Debug/CommonLib.xml
/ArsLibrary/bin/Debug/SocketHelper.dll
/ArsLibrary/bin/Debug/SocketHelper.pdb
/UtilityExample/.vs
/UtilityExample/bin/Debug/UtilityExample.exe
